
<footer class="footer<%= typeof view != 'undefined' && view === 'dark' ? ' footer_dark' : '' %>">
    <div class="container footer__content">
        <a href="/" class="footer__logo">
            <svg width="39" height="40" viewBox="0 0 39 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M0 0H7V26.4995H7.0065C7.0065 27.7838 7.38734 29.0393 8.10085 30.1071C8.81437 31.175 9.82852 32.0073 11.015 32.4987V39.7688C10.1006 39.5976 9.20186 39.3315 8.33378 38.9719C5.86697 37.9501 3.75856 36.2198 2.27516 33.9997C0.791851 31.7798 9.5768e-05 29.1694 0 26.4995V0ZM20 38.3317V27C20 25.2987 19.6667 24 19 23C18.3333 22 16.5 20 13.5 20.006L13.5 12.9995C16.1701 12.9995 18.7801 13.7913 21.0002 15.2747C23.2203 16.7581 24.9506 18.8665 25.9724 21.3333C26.9942 23.8001 27.2615 26.5145 26.7406 29.1332C26.2197 31.752 24.934 34.1574 23.0459 36.0455C22.1388 36.9526 21.1123 37.7207 20 38.3317ZM30.0916 21.9084C31.3094 23.1262 31.9935 24.7778 31.9935 26.5H32V40H39L39 26.5L39 26.4876V26H38.9908C38.8649 22.6012 37.4596 19.3677 35.0459 16.9541C32.5142 14.4223 29.0804 13 25.5 13C24.1746 13 22.8693 13.1949 21.6224 13.5689C21.233 13.6661 20.9006 13.7744 20.6717 13.8929C22.5 15 25 17 26.5 20.0839C27.8519 20.2946 29.1121 20.9289 30.0916 21.9084ZM12 26V26.5V40H19V26.6719C19 23.1719 16.5 21 13.1712 21C13.1453 21.0521 13.1187 21.113 13.0917 21.1817C12.452 22.6743 12.0818 24.2816 12.0121 25.9287L12 26Z" fill="currentColor"/>
            </svg>
        </a>
        <h3 class="footer__column-title service">Услуги</h3>
        <ul class="footer__column-text service">
            <%- include('../components/footer-link', { url: '/services#neon', text: 'Неоновые вывески' }); %>
            <%- include('../components/footer-link', { url: '/services#letters', text: 'Объемные буквы' }); %>
            <%- include('../components/footer-link', { url: '/services#cubes', text: 'Световые кубы' }); %>
            <%- include('../components/footer-link', { url: '/services#uncommon', text: 'Нестандартные изделия' }); %>
            <%- include('../components/footer-link', { url: '/services#tables', text: 'Таблички' }); %>
            <%- include('../components/footer-link', { url: '/services#print', text: 'Печать' }); %>
        </ul>
        <h3 class="footer__column-title client">Клиентам</h3>
        <ul class="footer__column-text client">
            <%- include('../components/footer-link', { url: '/info#design', text: 'Дизайн' }); %>
            <%- include('../components/footer-link', { url: '/info#installation', text: 'Монтаж' }); %>
            <%- include('../components/footer-link', { url: '/info#payment', text: 'Оплата' }); %>
            <%- include('../components/footer-link', { url: '/info#delivery', text: 'Доставка' }); %>
            <%- include('../components/footer-link', { url: '/info#execution', text: 'Сроки выполнения' }); %>
            <%- include('../components/footer-link', { url: '/info#guarantee', text: 'Гарантия' }); %>
        </ul>
        <h3 class="footer__column-title company">О компании</h3>
        <ul class="footer__column-text company">
            <%- include('../components/footer-link', { url: '/about', text: 'О нас' }); %>
            <%- include('../components/footer-link', { url: '/products', text: 'Наши работы' }); %>
            <%- include('../components/footer-link', { url: '/blog', text: 'Блог' }); %>
            <%- include('../components/footer-link', { url: '/questions', text: 'FAQ' }); %>
            <%- include('../components/footer-link', { url: '/contacts', text: 'Контакты' }); %>
        </ul>
        <h3 class="footer__column-title contact">Связаться с нами</h3>
        <ul class="footer__column-text contact">
            <li class="footer__column-item">
                <a href="tel:+79529813998" target="_blank" class="footer__column-link">+7 952 981 39 98</a>
            </li>
            <li class="footer__column-item">
                <date class="footer__column-date">10:00 - 19:00</date>
            </li>
        </ul>
        <ul class="footer__column-icons contact">
            <li class="footer__column-item footer__column-icon">
                <a href="https://wa.me/79529813998" target="_blank" class="footer__column-link">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_6001_2019)">
                        <path d="M17.496 14.3827C17.1952 14.2305 15.7305 13.5157 15.4567 13.4137C15.183 13.3162 14.9842 13.2652 14.7847 13.566C14.5897 13.8592 14.0152 14.5305 13.8397 14.7262C13.6642 14.922 13.4917 14.937 13.1955 14.8043C12.8947 14.652 11.934 14.3392 10.7933 13.3162C9.90225 12.5235 9.309 11.547 9.13275 11.2463C8.95725 10.9493 9.11325 10.7812 9.26175 10.6327C9.39825 10.4963 9.5625 10.2893 9.71475 10.1093C9.8595 9.92925 9.906 9.8085 10.0118 9.6135C10.1093 9.40275 10.059 9.2385 9.98475 9.09C9.9105 8.9415 9.31275 7.46925 9.063 6.88275C8.8245 6.30075 8.57475 6.375 8.391 6.375C8.21925 6.35925 8.01975 6.35925 7.821 6.35925C7.62225 6.35925 7.2975 6.4335 7.02375 6.7185C6.75 7.01925 5.97675 7.73775 5.97675 9.19125C5.97675 10.6485 7.047 12.0585 7.1955 12.2692C7.34775 12.4642 9.30075 15.4642 12.297 16.7535C13.0118 17.0542 13.5667 17.2342 14.0002 17.3827C14.715 17.6092 15.3675 17.5777 15.8827 17.5035C16.4527 17.4097 17.6483 16.7805 17.8988 16.0778C18.153 15.3705 18.153 14.7847 18.0788 14.652C18.0045 14.5155 17.8095 14.4412 17.5087 14.3085L17.496 14.3827ZM12.0623 21.75H12.0465C10.2727 21.75 8.51925 21.2692 6.98775 20.3708L6.6285 20.1562L2.8785 21.1327L3.8865 17.484L3.64425 17.109C2.65385 15.5343 2.12842 13.7118 2.1285 11.8515C2.1285 6.4065 6.58575 1.965 12.0697 1.965C14.7263 1.965 17.2185 3 19.0935 4.875C20.0185 5.78895 20.7521 6.87794 21.2518 8.07844C21.7514 9.27895 22.0069 10.5669 22.0035 11.8673C21.996 17.3085 17.5425 21.75 12.066 21.75H12.0623ZM20.5192 3.44925C18.2377 1.24575 15.2378 0 12.0465 0C5.4645 0 0.105 5.33625 0.10125 11.8942C0.10125 13.9882 0.648 16.0312 1.695 17.8395L0 24L6.336 22.3478C8.09123 23.2941 10.0532 23.7918 12.0472 23.7967H12.051C18.6368 23.7967 23.9963 18.4605 24 11.898C24 8.7225 22.7618 5.73375 20.5042 3.4875L20.5192 3.44925Z" fill="currentColor"/>
                        </g>
                        <defs>
                        <clipPath id="clip0_6001_2019">
                        <rect width="24" height="24" fill="none"/>
                        </clipPath>
                        </defs>
                    </svg>
                </a>
            </li>
            <li class="footer__column-item footer__column-icon">
                <a href="https://t.me/+79529813998" target="_blank" class="footer__column-link">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_6001_2021)">
                        <path d="M22.0517 2.12803L0.788779 10.3699C-0.0668777 10.7537 -0.356284 11.5223 0.581966 11.9394L6.03681 13.6819L19.2259 5.48864C19.9461 4.97428 20.6833 5.11144 20.0489 5.67727L8.72125 15.9867L8.36542 20.3497C8.695 21.0233 9.29847 21.0264 9.6834 20.6916L12.8174 17.7109L18.1848 21.7509C19.4314 22.4927 20.1098 22.014 20.378 20.6543L23.8985 3.89789C24.2641 2.22422 23.6407 1.48678 22.0517 2.12803Z" fill="currentColor"/>
                        </g>
                        <defs>
                        <clipPath id="clip0_6001_2021">
                        <rect width="24" height="24" fill="none"/>
                        </clipPath>
                        </defs>
                    </svg>
                </a>
            </li>
            <li class="footer__column-item footer__column-icon">
                <a href="https://vk.com" target="_blank" class="footer__column-link">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M21.579 6.85678C21.719 6.39178 21.579 6.05078 20.917 6.05078H18.724C18.166 6.05078 17.911 6.34578 17.771 6.66978C17.771 6.66978 16.656 9.38878 15.076 11.1518C14.566 11.6648 14.333 11.8268 14.055 11.8268C13.916 11.8268 13.714 11.6648 13.714 11.1998V6.85678C13.714 6.29878 13.553 6.05078 13.088 6.05078H9.642C9.294 6.05078 9.084 6.30878 9.084 6.55478C9.084 7.08278 9.874 7.20478 9.955 8.69278V11.9208C9.955 12.6278 9.828 12.7568 9.548 12.7568C8.805 12.7568 6.997 10.0278 5.924 6.90378C5.715 6.29678 5.504 6.05178 4.944 6.05178H2.752C2.125 6.05178 2 6.34678 2 6.67078C2 7.25278 2.743 10.1328 5.461 13.9418C7.273 16.5428 9.824 17.9528 12.148 17.9528C13.541 17.9528 13.713 17.6398 13.713 17.0998V15.1338C13.713 14.5078 13.846 14.3818 14.287 14.3818C14.611 14.3818 15.169 14.5458 16.47 15.7988C17.956 17.2848 18.202 17.9518 19.037 17.9518H21.229C21.855 17.9518 22.168 17.6388 21.988 17.0208C21.791 16.4058 21.081 15.5108 20.139 14.4518C19.627 13.8478 18.862 13.1978 18.629 12.8728C18.304 12.4538 18.398 12.2688 18.629 11.8968C18.63 11.8978 21.301 8.13578 21.579 6.85678Z" fill="currentColor"/>
                    </svg>
                </a>
            </li>
            <li class="footer__column-item footer__column-icon">
                <a href="https://youtube.com" target="_blank" class="footer__column-link">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_6001_2027)">
                        <path d="M23.5006 6.50805C23.3647 6.02328 23.1 5.5844 22.7346 5.23805C22.3589 4.88106 21.8984 4.62569 21.3966 4.49605C19.5186 4.00105 11.9946 4.00105 11.9946 4.00105C8.85795 3.96537 5.72205 4.12233 2.60462 4.47105C2.10281 4.61027 1.64318 4.87134 1.26662 5.23105C0.896617 5.58705 0.628617 6.02605 0.488617 6.50705C0.15231 8.3188 -0.0110908 10.1584 0.000617183 12.0011C-0.0113828 13.8421 0.151617 15.6811 0.488617 17.4951C0.625617 17.9741 0.892617 18.4111 1.26362 18.7641C1.63462 19.1171 2.09662 19.3721 2.60462 19.5071C4.50762 20.0011 11.9946 20.0011 11.9946 20.0011C15.1353 20.0368 18.2752 19.8798 21.3966 19.5311C21.8984 19.4014 22.3589 19.146 22.7346 18.7891C23.0999 18.4428 23.3643 18.0038 23.4996 17.5191C23.8447 15.708 24.0125 13.8676 24.0006 12.0241C24.0266 10.1727 23.859 8.32362 23.5006 6.50705V6.50805ZM9.60262 15.4251V8.57805L15.8626 12.0021L9.60262 15.4251Z" fill="currentColor"/>
                        </g>
                        <defs>
                        <clipPath id="clip0_6001_2027">
                        <rect width="24" height="24" fill="none"/>
                        </clipPath>
                        </defs>
                    </svg>
                </a>
            </li>
        </ul>
    </ul>
</footer>