<header class="container header">
    <a href="/" class="header__logo">
        <svg class="header-logo__img" width="161" height="125" viewBox="0 0 161 125" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g filter="url(#filter0_f_4455_3028)">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M61 24H68V50.4995H68.0065C68.0065 51.7838 68.3873 53.0393 69.1009 54.1071C69.8144 55.175 70.8285 56.0073 72.015 56.4987V63.7688C71.1006 63.5976 70.2019 63.3315 69.3338 62.9719C66.867 61.9501 64.7586 60.2198 63.2752 57.9997C61.7919 55.7798 61.0001 53.1694 61 50.4995V24ZM81 62.3317V51C81 49.2987 80.6667 48 80 47C79.3333 46 77.5 44 74.5 44.006L74.5 36.9995C77.1701 36.9995 79.7801 37.7913 82.0002 39.2747C84.2203 40.7581 85.9506 42.8665 86.9724 45.3333C87.9942 47.8001 88.2615 50.5145 87.7406 53.1332C87.2197 55.752 85.934 58.1574 84.0459 60.0455C83.1388 60.9526 82.1123 61.7207 81 62.3317ZM91.0916 45.9084C92.3094 47.1262 92.9935 48.7778 92.9935 50.5H93V64H100L100 50.5L100 50.4876V50H99.9908C99.8649 46.6012 98.4596 43.3677 96.0459 40.9541C93.5142 38.4223 90.0804 37 86.5 37C85.1746 37 83.8693 37.1949 82.6224 37.5689C82.233 37.6661 81.9006 37.7744 81.6717 37.8929C83.5 39 86 41 87.5 44.0839C88.8519 44.2946 90.1121 44.9289 91.0916 45.9084ZM73 50V50.5V64H80V50.6719C80 47.1719 77.5 45 74.1712 45C74.1453 45.0521 74.1187 45.113 74.0917 45.1817C73.452 46.6743 73.0818 48.2816 73.0121 49.9287L73 50Z" fill="#FF33F7"/>
            <path d="M87.165 44.5381C87.2587 44.7371 87.3501 44.9377 87.4346 45.1416L87.624 45.625C88.4654 47.8902 88.7057 50.3349 88.3223 52.7207L88.2314 53.2305C87.725 55.7765 86.5206 58.1281 84.7588 60.0254L84.3994 60.3994C83.4589 61.3399 82.3944 62.136 81.2412 62.7695L80.5 63.1768V64.5H72.5V64.3682L71.9229 64.2607C71.0931 64.1054 70.2759 63.8744 69.4814 63.5693L69.1426 63.4336C66.7443 62.4402 64.6724 60.8012 63.1553 58.7031L62.8594 58.2773C61.3213 55.9753 60.5002 53.2685 60.5 50.5V23.5H68.5V50H68.5068V50.5C68.5069 51.6852 68.8582 52.8436 69.5166 53.8291C70.1751 54.8147 71.111 55.5835 72.2061 56.0371L72.5 56.1582V49.958L72.5068 49.916L72.5146 49.8691C72.591 48.1744 72.9734 46.5206 73.6318 44.9844H73.6328C73.6618 44.9117 73.6918 44.8415 73.7236 44.7773L73.8613 44.5H74V36.5H74.5C76.9882 36.5 79.4251 37.1644 81.5645 38.415C81.5132 38.3832 81.4633 38.3507 81.4131 38.3203L80.6504 37.8594L81.4414 37.4492C81.7178 37.306 82.0872 37.1885 82.4785 37.0898C83.7716 36.702 85.1255 36.5 86.5 36.5C90.213 36.5 93.7739 37.9751 96.3994 40.6006L96.6309 40.8379C98.8808 43.1969 100.231 46.2621 100.463 49.5H100.5V64.5H92.5V51H92.4932V50.5C92.4932 49.0099 91.9387 47.577 90.9434 46.4775L90.7383 46.2617C89.8342 45.3576 88.6706 44.7726 87.4229 44.5781L87.165 44.5381ZM79.6611 47.3994C79.8878 47.7864 80.0727 48.2056 80.21 48.6553C80.0732 48.1815 79.8888 47.7664 79.6611 47.3994ZM77.1318 45.1221C76.4009 44.7567 75.5239 44.5038 74.501 44.5059H74.457C75.4241 44.5403 76.3295 44.7504 77.1318 45.1221Z" stroke="#FF33F7"/>
            </g>
            <g filter="url(#filter1_f_4455_3028)">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M61 24H68V50.4995H68.0065C68.0065 51.7838 68.3873 53.0393 69.1009 54.1071C69.8144 55.175 70.8285 56.0073 72.015 56.4987V63.7688C71.1006 63.5976 70.2019 63.3315 69.3338 62.9719C66.867 61.9501 64.7586 60.2198 63.2752 57.9997C61.7919 55.7798 61.0001 53.1694 61 50.4995V24ZM81 62.3317V51C81 49.2987 80.6667 48 80 47C79.3333 46 77.5 44 74.5 44.006L74.5 36.9995C77.1701 36.9995 79.7801 37.7913 82.0002 39.2747C84.2203 40.7581 85.9506 42.8665 86.9724 45.3333C87.9942 47.8001 88.2615 50.5145 87.7406 53.1332C87.2197 55.752 85.934 58.1574 84.0459 60.0455C83.1388 60.9526 82.1123 61.7207 81 62.3317ZM91.0916 45.9084C92.3094 47.1262 92.9935 48.7778 92.9935 50.5H93V64H100L100 50.5L100 50.4876V50H99.9908C99.8649 46.6012 98.4596 43.3677 96.0459 40.9541C93.5142 38.4223 90.0804 37 86.5 37C85.1746 37 83.8693 37.1949 82.6224 37.5689C82.233 37.6661 81.9006 37.7744 81.6717 37.8929C83.5 39 86 41 87.5 44.0839C88.8519 44.2946 90.1121 44.9289 91.0916 45.9084ZM73 50V50.5V64H80V50.6719C80 47.1719 77.5 45 74.1712 45C74.1453 45.0521 74.1187 45.113 74.0917 45.1817C73.452 46.6743 73.0818 48.2816 73.0121 49.9287L73 50Z" fill="#FF33F7"/>
            <path d="M87.165 44.5381C87.2587 44.7371 87.3501 44.9377 87.4346 45.1416L87.624 45.625C88.4654 47.8902 88.7057 50.3349 88.3223 52.7207L88.2314 53.2305C87.725 55.7765 86.5206 58.1281 84.7588 60.0254L84.3994 60.3994C83.4589 61.3399 82.3944 62.136 81.2412 62.7695L80.5 63.1768V64.5H72.5V64.3682L71.9229 64.2607C71.0931 64.1054 70.2759 63.8744 69.4814 63.5693L69.1426 63.4336C66.7443 62.4402 64.6724 60.8012 63.1553 58.7031L62.8594 58.2773C61.3213 55.9753 60.5002 53.2685 60.5 50.5V23.5H68.5V50H68.5068V50.5C68.5069 51.6852 68.8582 52.8436 69.5166 53.8291C70.1751 54.8147 71.111 55.5835 72.2061 56.0371L72.5 56.1582V49.958L72.5068 49.916L72.5146 49.8691C72.591 48.1744 72.9734 46.5206 73.6318 44.9844H73.6328C73.6618 44.9117 73.6918 44.8415 73.7236 44.7773L73.8613 44.5H74V36.5H74.5C76.9882 36.5 79.4251 37.1644 81.5645 38.415C81.5132 38.3832 81.4633 38.3507 81.4131 38.3203L80.6504 37.8594L81.4414 37.4492C81.7178 37.306 82.0872 37.1885 82.4785 37.0898C83.7716 36.702 85.1255 36.5 86.5 36.5C90.213 36.5 93.7739 37.9751 96.3994 40.6006L96.6309 40.8379C98.8808 43.1969 100.231 46.2621 100.463 49.5H100.5V64.5H92.5V51H92.4932V50.5C92.4932 49.0099 91.9387 47.577 90.9434 46.4775L90.7383 46.2617C89.8342 45.3576 88.6706 44.7726 87.4229 44.5781L87.165 44.5381ZM79.6611 47.3994C79.8878 47.7864 80.0727 48.2056 80.21 48.6553C80.0732 48.1815 79.8888 47.7664 79.6611 47.3994ZM77.1318 45.1221C76.4009 44.7567 75.5239 44.5038 74.501 44.5059H74.457C75.4241 44.5403 76.3295 44.7504 77.1318 45.1221Z" stroke="#FF33F7"/>
            </g>
            <g filter="url(#filter2_f_4455_3028)">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M61 24H68V50.4995H68.0065C68.0065 51.7838 68.3873 53.0393 69.1009 54.1071C69.8144 55.175 70.8285 56.0073 72.015 56.4987V63.7688C71.1006 63.5976 70.2019 63.3315 69.3338 62.9719C66.867 61.9501 64.7586 60.2198 63.2752 57.9997C61.7919 55.7798 61.0001 53.1694 61 50.4995V24ZM81 62.3317V51C81 49.2987 80.6667 48 80 47C79.3333 46 77.5 44 74.5 44.006L74.5 36.9995C77.1701 36.9995 79.7801 37.7913 82.0002 39.2747C84.2203 40.7581 85.9506 42.8665 86.9724 45.3333C87.9942 47.8001 88.2615 50.5145 87.7406 53.1332C87.2197 55.752 85.934 58.1574 84.0459 60.0455C83.1388 60.9526 82.1123 61.7207 81 62.3317ZM91.0916 45.9084C92.3094 47.1262 92.9935 48.7778 92.9935 50.5H93V64H100L100 50.5L100 50.4876V50H99.9908C99.8649 46.6012 98.4596 43.3677 96.0459 40.9541C93.5142 38.4223 90.0804 37 86.5 37C85.1746 37 83.8693 37.1949 82.6224 37.5689C82.233 37.6661 81.9006 37.7744 81.6717 37.8929C83.5 39 86 41 87.5 44.0839C88.8519 44.2946 90.1121 44.9289 91.0916 45.9084ZM73 50V50.5V64H80V50.6719C80 47.1719 77.5 45 74.1712 45C74.1453 45.0521 74.1187 45.113 74.0917 45.1817C73.452 46.6743 73.0818 48.2816 73.0121 49.9287L73 50Z" fill="#FF33F7"/>
            <path d="M87.165 44.5381C87.2587 44.7371 87.3501 44.9377 87.4346 45.1416L87.624 45.625C88.4654 47.8902 88.7057 50.3349 88.3223 52.7207L88.2314 53.2305C87.725 55.7765 86.5206 58.1281 84.7588 60.0254L84.3994 60.3994C83.4589 61.3399 82.3944 62.136 81.2412 62.7695L80.5 63.1768V64.5H72.5V64.3682L71.9229 64.2607C71.0931 64.1054 70.2759 63.8744 69.4814 63.5693L69.1426 63.4336C66.7443 62.4402 64.6724 60.8012 63.1553 58.7031L62.8594 58.2773C61.3213 55.9753 60.5002 53.2685 60.5 50.5V23.5H68.5V50H68.5068V50.5C68.5069 51.6852 68.8582 52.8436 69.5166 53.8291C70.1751 54.8147 71.111 55.5835 72.2061 56.0371L72.5 56.1582V49.958L72.5068 49.916L72.5146 49.8691C72.591 48.1744 72.9734 46.5206 73.6318 44.9844H73.6328C73.6618 44.9117 73.6918 44.8415 73.7236 44.7773L73.8613 44.5H74V36.5H74.5C76.9882 36.5 79.4251 37.1644 81.5645 38.415C81.5132 38.3832 81.4633 38.3507 81.4131 38.3203L80.6504 37.8594L81.4414 37.4492C81.7178 37.306 82.0872 37.1885 82.4785 37.0898C83.7716 36.702 85.1255 36.5 86.5 36.5C90.213 36.5 93.7739 37.9751 96.3994 40.6006L96.6309 40.8379C98.8808 43.1969 100.231 46.2621 100.463 49.5H100.5V64.5H92.5V51H92.4932V50.5C92.4932 49.0099 91.9387 47.577 90.9434 46.4775L90.7383 46.2617C89.8342 45.3576 88.6706 44.7726 87.4229 44.5781L87.165 44.5381ZM79.6611 47.3994C79.8878 47.7864 80.0727 48.2056 80.21 48.6553C80.0732 48.1815 79.8888 47.7664 79.6611 47.3994ZM77.1318 45.1221C76.4009 44.7567 75.5239 44.5038 74.501 44.5059H74.457C75.4241 44.5403 76.3295 44.7504 77.1318 45.1221Z" stroke="#FF33F7"/>
            </g>
            <g filter="url(#filter3_f_4455_3028)">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M61 24H68V50.4995H68.0065C68.0065 51.7838 68.3873 53.0393 69.1009 54.1071C69.8144 55.175 70.8285 56.0073 72.015 56.4987V63.7688C71.1006 63.5976 70.2019 63.3315 69.3338 62.9719C66.867 61.9501 64.7586 60.2198 63.2752 57.9997C61.7919 55.7798 61.0001 53.1694 61 50.4995V24ZM81 62.3317V51C81 49.2987 80.6667 48 80 47C79.3333 46 77.5 44 74.5 44.006L74.5 36.9995C77.1701 36.9995 79.7801 37.7913 82.0002 39.2747C84.2203 40.7581 85.9506 42.8665 86.9724 45.3333C87.9942 47.8001 88.2615 50.5145 87.7406 53.1332C87.2197 55.752 85.934 58.1574 84.0459 60.0455C83.1388 60.9526 82.1123 61.7207 81 62.3317ZM91.0916 45.9084C92.3094 47.1262 92.9935 48.7778 92.9935 50.5H93V64H100L100 50.5L100 50.4876V50H99.9908C99.8649 46.6012 98.4596 43.3677 96.0459 40.9541C93.5142 38.4223 90.0804 37 86.5 37C85.1746 37 83.8693 37.1949 82.6224 37.5689C82.233 37.6661 81.9006 37.7744 81.6717 37.8929C83.5 39 86 41 87.5 44.0839C88.8519 44.2946 90.1121 44.9289 91.0916 45.9084ZM73 50V50.5V64H80V50.6719C80 47.1719 77.5 45 74.1712 45C74.1453 45.0521 74.1187 45.113 74.0917 45.1817C73.452 46.6743 73.0818 48.2816 73.0121 49.9287L73 50Z" fill="#FF33F7"/>
            <path d="M87.165 44.5381C87.2587 44.7371 87.3501 44.9377 87.4346 45.1416L87.624 45.625C88.4654 47.8902 88.7057 50.3349 88.3223 52.7207L88.2314 53.2305C87.725 55.7765 86.5206 58.1281 84.7588 60.0254L84.3994 60.3994C83.4589 61.3399 82.3944 62.136 81.2412 62.7695L80.5 63.1768V64.5H72.5V64.3682L71.9229 64.2607C71.0931 64.1054 70.2759 63.8744 69.4814 63.5693L69.1426 63.4336C66.7443 62.4402 64.6724 60.8012 63.1553 58.7031L62.8594 58.2773C61.3213 55.9753 60.5002 53.2685 60.5 50.5V23.5H68.5V50H68.5068V50.5C68.5069 51.6852 68.8582 52.8436 69.5166 53.8291C70.1751 54.8147 71.111 55.5835 72.2061 56.0371L72.5 56.1582V49.958L72.5068 49.916L72.5146 49.8691C72.591 48.1744 72.9734 46.5206 73.6318 44.9844H73.6328C73.6618 44.9117 73.6918 44.8415 73.7236 44.7773L73.8613 44.5H74V36.5H74.5C76.9882 36.5 79.4251 37.1644 81.5645 38.415C81.5132 38.3832 81.4633 38.3507 81.4131 38.3203L80.6504 37.8594L81.4414 37.4492C81.7178 37.306 82.0872 37.1885 82.4785 37.0898C83.7716 36.702 85.1255 36.5 86.5 36.5C90.213 36.5 93.7739 37.9751 96.3994 40.6006L96.6309 40.8379C98.8808 43.1969 100.231 46.2621 100.463 49.5H100.5V64.5H92.5V51H92.4932V50.5C92.4932 49.0099 91.9387 47.577 90.9434 46.4775L90.7383 46.2617C89.8342 45.3576 88.6706 44.7726 87.4229 44.5781L87.165 44.5381ZM79.6611 47.3994C79.8878 47.7864 80.0727 48.2056 80.21 48.6553C80.0732 48.1815 79.8888 47.7664 79.6611 47.3994ZM77.1318 45.1221C76.4009 44.7567 75.5239 44.5038 74.501 44.5059H74.457C75.4241 44.5403 76.3295 44.7504 77.1318 45.1221Z" stroke="#FF33F7"/>
            </g>
            <g filter="url(#filter4_f_4455_3028)">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M61 24H68V50.4995H68.0065C68.0065 51.7838 68.3873 53.0393 69.1009 54.1071C69.8144 55.175 70.8285 56.0073 72.015 56.4987V63.7688C71.1006 63.5976 70.2019 63.3315 69.3338 62.9719C66.867 61.9501 64.7586 60.2198 63.2752 57.9997C61.7919 55.7798 61.0001 53.1694 61 50.4995V24ZM81 62.3317V51C81 49.2987 80.6667 48 80 47C79.3333 46 77.5 44 74.5 44.006L74.5 36.9995C77.1701 36.9995 79.7801 37.7913 82.0002 39.2747C84.2203 40.7581 85.9506 42.8665 86.9724 45.3333C87.9942 47.8001 88.2615 50.5145 87.7406 53.1332C87.2197 55.752 85.934 58.1574 84.0459 60.0455C83.1388 60.9526 82.1123 61.7207 81 62.3317ZM91.0916 45.9084C92.3094 47.1262 92.9935 48.7778 92.9935 50.5H93V64H100L100 50.5L100 50.4876V50H99.9908C99.8649 46.6012 98.4596 43.3677 96.0459 40.9541C93.5142 38.4223 90.0804 37 86.5 37C85.1746 37 83.8693 37.1949 82.6224 37.5689C82.233 37.6661 81.9006 37.7744 81.6717 37.8929C83.5 39 86 41 87.5 44.0839C88.8519 44.2946 90.1121 44.9289 91.0916 45.9084ZM73 50V50.5V64H80V50.6719C80 47.1719 77.5 45 74.1712 45C74.1453 45.0521 74.1187 45.113 74.0917 45.1817C73.452 46.6743 73.0818 48.2816 73.0121 49.9287L73 50Z" fill="white"/>
            </g>
            <defs>
            <filter id="filter0_f_4455_3028" x="0" y="-37" width="161" height="162" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
            <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
            <feGaussianBlur stdDeviation="30" result="effect1_foregroundBlur_4455_3028"/>
            </filter>
            <filter id="filter1_f_4455_3028" x="30" y="-7" width="101" height="102" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
            <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
            <feGaussianBlur stdDeviation="15" result="effect1_foregroundBlur_4455_3028"/>
            </filter>
            <filter id="filter2_f_4455_3028" x="50" y="13" width="61" height="62" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
            <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
            <feGaussianBlur stdDeviation="5" result="effect1_foregroundBlur_4455_3028"/>
            </filter>
            <filter id="filter3_f_4455_3028" x="56" y="19" width="49" height="50" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
            <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
            <feGaussianBlur stdDeviation="2" result="effect1_foregroundBlur_4455_3028"/>
            </filter>
            <filter id="filter4_f_4455_3028" x="60.5" y="23.5" width="40" height="41" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
            <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
            <feGaussianBlur stdDeviation="0.25" result="effect1_foregroundBlur_4455_3028"/>
            </filter>
            </defs>
        </svg>            
    </a>
    <nav class="header__nav">
        <button type="button" class="header__burger">
            <svg width="48" height="42" viewBox="0 0 48 42" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x="12" y="12" width="24" height="2" rx="1" fill="white"/>
                <rect x="12" y="20" width="24" height="2" rx="1" fill="white"/>
                <rect x="12" y="28" width="24" height="2" rx="1" fill="white"/>
            </svg>            
        </button>
        <ul class="header__nav-list">
            <%- include('../components/header-link', { url: '/about', text: 'О нас', isActive: activePage === 'about' }); %>
            <%- include('../components/header-link', { url: '/services', text: 'Услуги', isActive: activePage === 'services' }); %>
            <%- include('../components/header-link', { url: '/info', text: 'Клиентам', isActive: activePage === 'info' }); %>
            <%- include('../components/header-link', { url: '/products', text: 'Наши работы', isActive: activePage === 'products' }); %>
            <%- include('../components/header-link', { url: '/blog', text: 'Блог', isActive: activePage === 'blog' }); %>
            <%- include('../components/header-link', { url: '/questions', text: 'FAQ', isActive: activePage === 'questions' }); %>
            <%- include('../components/header-link', { url: '/contacts', text: 'Контакты', isActive: activePage === 'contacts' }); %>
        </ul>
    </nav>
    <div class="header__contacts">
        <a href="tel:+79529813998" target="_blank" class="header__nav-link">+7 952 981 39 98</a>
        <a href="https://wa.me/79529813998" target="_blank" class="header__nav-link header-contacts__icon-item">
            <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M17.996 14.3827C17.6952 14.2305 16.2305 13.5157 15.9567 13.4137C15.683 13.3162 15.4842 13.2652 15.2847 13.566C15.0897 13.8592 14.5152 14.5305 14.3397 14.7262C14.1642 14.922 13.9917 14.937 13.6955 14.8043C13.3947 14.652 12.434 14.3392 11.2933 13.3162C10.4023 12.5235 9.809 11.547 9.63275 11.2463C9.45725 10.9493 9.61325 10.7812 9.76175 10.6327C9.89825 10.4963 10.0625 10.2893 10.2148 10.1093C10.3595 9.92925 10.406 9.8085 10.5118 9.6135C10.6093 9.40275 10.559 9.2385 10.4847 9.09C10.4105 8.9415 9.81275 7.46925 9.563 6.88275C9.3245 6.30075 9.07475 6.375 8.891 6.375C8.71925 6.35925 8.51975 6.35925 8.321 6.35925C8.12225 6.35925 7.7975 6.4335 7.52375 6.7185C7.25 7.01925 6.47675 7.73775 6.47675 9.19125C6.47675 10.6485 7.547 12.0585 7.6955 12.2692C7.84775 12.4642 9.80075 15.4642 12.797 16.7535C13.5118 17.0542 14.0667 17.2342 14.5002 17.3827C15.215 17.6092 15.8675 17.5777 16.3827 17.5035C16.9527 17.4097 18.1483 16.7805 18.3988 16.0778C18.653 15.3705 18.653 14.7847 18.5788 14.652C18.5045 14.5155 18.3095 14.4412 18.0087 14.3085L17.996 14.3827ZM12.5623 21.75H12.5465C10.7727 21.75 9.01925 21.2692 7.48775 20.3708L7.1285 20.1562L3.3785 21.1327L4.3865 17.484L4.14425 17.109C3.15385 15.5343 2.62842 13.7118 2.6285 11.8515C2.6285 6.4065 7.08575 1.965 12.5697 1.965C15.2263 1.965 17.7185 3 19.5935 4.875C20.5185 5.78895 21.2521 6.87794 21.7518 8.07844C22.2514 9.27895 22.5069 10.5669 22.5035 11.8673C22.496 17.3085 18.0425 21.75 12.566 21.75H12.5623ZM21.0192 3.44925C18.7377 1.24575 15.7378 0 12.5465 0C5.9645 0 0.605 5.33625 0.60125 11.8942C0.60125 13.9882 1.148 16.0312 2.195 17.8395L0.5 24L6.836 22.3478C8.59123 23.2941 10.5532 23.7918 12.5472 23.7967H12.551C19.1368 23.7967 24.4963 18.4605 24.5 11.898C24.5 8.7225 23.2618 5.73375 21.0042 3.4875L21.0192 3.44925Z" fill="currentColor"/>
            </svg>
        </a>
        <a href="https://t.me/+79529813998" target="_blank" class="header__nav-link header-contacts__icon-item">
            <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_6001_2395)">
                <path d="M22.5517 2.12803L1.28878 10.3699C0.433122 10.7537 0.143716 11.5223 1.08197 11.9394L6.53681 13.6819L19.7259 5.48864C20.4461 4.97428 21.1833 5.11144 20.5489 5.67727L9.22125 15.9867L8.86542 20.3497C9.195 21.0233 9.79847 21.0264 10.1834 20.6916L13.3174 17.7109L18.6848 21.7509C19.9314 22.4927 20.6098 22.014 20.878 20.6543L24.3985 3.89789C24.7641 2.22422 24.1407 1.48678 22.5517 2.12803Z" fill="currentColor"/>
                </g>
                <defs>
                <clipPath id="clip0_6001_2395">
                <rect width="24" height="24" fill="currentColor" transform="translate(0.5)"/>
                </clipPath>
                </defs>
            </svg>
        </a>
    </div>
    <a href="/contacts#form" class="button-primary button_small header-contacts__button-item">Заказать</a>
    <script>
        window.addEventListener('DOMContentLoaded', () => {
            const burgerMenu = document.querySelector('.header__nav-list');
            window.addEventListener('click', ({ target }) => {
                if (target.classList.contains('header__burger')) {
                    burgerMenu.classList.toggle('header__nav-list_open');
                } else {
                    burgerMenu.classList.remove('header__nav-list_open');
                }
            });
            window.addEventListener('resize', () => {
                if (burgerMenu.classList.contains('header__nav-list_open')) {
                    burgerMenu.classList.remove('header__nav-list_open');
                }
            });
        });
    </script>
</header>